@import url("https://fonts.googleapis.com/css?family=Assistant:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

$font-family: "Inter", Arial, sans-serif;
$font-brand: "Castoro", serif;

$color-primary: #3327ec;
$color-background: #f9f9f6;
$color-dark: #000000;
$color-light: #ffffff;
$color-grey: #67676f;

$border-radius: rem(10);

$font-size-x-large: rem(30);
$font-size-large: rem(24);
$font-size-medium: rem(18);
$font-size-small: rem(14);
$font-size-x-small: rem(12);

$font-weight-bold: 900;
$font-weight-regular: 600;
$font-weight-small: 400;
